<div class="container my-5">
    <div class="card">
        <div class="card-header card_header_good">
            <h3>Experience</h3>
        </div>
        <div class="card-body p-4 portfolio_parent_card_body">
            <div class="row my-2">
                <div class="col-md-6 mb-4">
                    <div class="card mb- bg-light">
                        <div class="card-body">
                            <div class="education_info">
                                <table class="table">
                                    <tr>
                                        <th>Designation</th>
                                        <td>Laravel Developer</td>
                                    </tr>
                                    <tr>
                                        <th>Company</th>
                                        <td>DevStudio</td>
                                    </tr>
                                    <tr>
                                        <th>Location</th>
                                        <td>Lahore</td>
                                    </tr>
                                    <tr>
                                        <th>Job Type</th>
                                        <td>Full-time</td>
                                    </tr>
                                    <tr>
                                        <th>From - To</th>
                                        <td>Jan-2020 - Present</td>
                                    </tr>

                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mb-4">
                    <div class="card mb- bg-light">
                        <div class="card-body">
                            <div class="education_info">
                                <table class="table">
                                    <tr>
                                        <th>Designation</th>
                                        <td>Laravel Developer</td>
                                    </tr>
                                    <tr>
                                        <th>Company</th>
                                        <td>DevioTech</td>
                                    </tr>
                                    <tr>
                                        <th>Location</th>
                                        <td>Lahore</td>
                                    </tr>
                                    <tr>
                                        <th>Job Type</th>
                                        <td>Full-time</td>
                                    </tr>
                                    <tr>
                                        <th>From - To</th>
                                        <td>Sep 2020 - Dec 2021</td>
                                    </tr>

                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mb-4">
                    <div class="card mb- bg-light">
                        <div class="card-body">
                            <div class="education_info">
                                <table class="table">
                                    <tr>
                                        <th>Designation</th>
                                        <td>PHP Developer</td>
                                    </tr>
                                    <tr>
                                        <th>Company</th>
                                        <td>Codex IT Solutions</td>
                                    </tr>
                                    <tr>
                                        <th>Location</th>
                                        <td>Multan</td>
                                    </tr>
                                    <tr>
                                        <th>Job Type</th>
                                        <td>Full-time</td>
                                    </tr>
                                    <tr>
                                        <th>From - To</th>
                                        <td>Dec 2019 - Sep 2020</td>
                                    </tr>

                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mb-4">
                    <div class="card mb- bg-light">
                        <div class="card-body">
                            <div class="education_info">
                                <table class="table">
                                    <tr>
                                        <th>Designation</th>
                                        <td>Web Developer</td>
                                    </tr>
                                    <tr>
                                        <th>Company</th>
                                        <td>SoftLogix</td>
                                    </tr>
                                    <tr>
                                        <th>Location</th>
                                        <td>Multan</td>
                                    </tr>
                                    <tr>
                                        <th>Job Type</th>
                                        <td>Full-time</td>
                                    </tr>
                                    <tr>
                                        <th>From - To</th>
                                        <td>Jun 2019 - Nov 2019</td>
                                    </tr>

                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card mb- bg-light">
                        <div class="card-body">
                            <div class="education_info">
                                <table class="table">
                                    <tr>
                                        <th>Designation</th>
                                        <td>Web Developer/Instructor</td>
                                    </tr>
                                    <tr>
                                        <th>Company</th>
                                        <td>Edutech Coaching Center</td>
                                    </tr>
                                    <tr>
                                        <th>Location</th>
                                        <td>Multan</td>
                                    </tr>
                                    <tr>
                                        <th>Job Type</th>
                                        <td>Full-time</td>
                                    </tr>
                                    <tr>
                                        <th>From - To</th>
                                        <td>May 2018 - Feb 2019</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
