<div class="container my-5">
    <div class="card border-0 shadow">
        <div class="card-header card_header_good">
            <h3>Portfolio</h3>
        </div>
        <div class="card-body p-4 portfolio_parent_card_body">
            <div class="row my-2">
                <div class="col-md-6 mb-4">
                    <div class="card shadow border-0 mb- bg-light">
                        <div class="card-header portfolio_card_header">
                            <img class="img-fluid image_portfolio" src="assets/images/language_lad.png" alt="">
                        </div>
                        <div class="card-body">
                            <div class="education_info">
                                <table class="table">
                                    <tr>
                                        <th>Project</th>
                                        <td>LanguageLad</td>
                                    </tr>
                                    <tr>
                                        <th>Company</th>
                                        <td>Deviotech</td>
                                    </tr>
                                    <tr>
                                        <th>Project Type</th>
                                        <td>Online Tutoring</td>
                                    </tr>
                                    <tr>
                                        <th>Status</th>
                                        <td>
                                            Live
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Link</th>
                                        <td>
                                            <a class="padding_td" href="https://talkmaze.com/home" target="_blank">Open Project</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Github</th>
                                        <td>
                                            <a class="padding_td" href="https://languagelad.com/" target="_blank">Open Github</a>
                                        </td>
                                    </tr>


                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 mb-4">
                    <div class="card shadow border-0 mb- bg-light">
                        <div class="card-header portfolio_card_header">
                            <img class="img-fluid image_portfolio" src="assets/images/talkmaze.png" alt="">
                        </div>
                        <div class="card-body">
                            <div class="education_info">
                                <table class="table">
                                    <tr>
                                        <th>Project</th>
                                        <td>Talkmaze</td>
                                    </tr>
                                    <tr>
                                        <th>Company</th>
                                        <td>Deviotech</td>
                                    </tr>

                                    <tr>
                                        <th>Project Type</th>
                                        <td>Online Tutoring</td>
                                    </tr>
                                    <tr>
                                        <th>Status</th>
                                        <td>
                                            Live
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Link</th>
                                        <td>
                                            <a class="padding_td" href="https://talkmaze.com/home" target="_blank">Open Project</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Github</th>
                                        <td>
                                            <a class="padding_td" href="https://languagelad.com/" target="_blank">Open Github</a>
                                        </td>
                                    </tr>



                                </table>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-md-6 mb-4">
                    <div class="card shadow border-0 mb- bg-light">
                        <div class="card-header portfolio_card_header">
                            <img class="img-fluid image_portfolio" src="assets/images/temphub.png" alt="">
                        </div>
                        <div class="card-body">
                            <div class="education_info">
                                <table class="table">
                                    <tr>
                                        <th>Project</th>
                                        <td>TempHub</td>
                                    </tr>
                                    <tr>
                                        <th>Company</th>
                                        <td>Deviotech</td>
                                    </tr>
                                    <tr>
                                        <th>Project Type</th>
                                        <td>Online Tutoring</td>
                                    </tr>
                                    <tr>
                                        <th>Status</th>
                                        <td>
                                            Live
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Link</th>
                                        <td>
                                            <a class="padding_td" href="https://talkmaze.com/home" target="_blank">Open Project</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Github</th>
                                        <td>
                                            <a class="padding_td" href="https://languagelad.com/" target="_blank">Open Github</a>
                                        </td>
                                    </tr>



                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 mb-4">
                    <div class="card shadow border-0 mb- bg-light">
                        <div class="card-header portfolio_card_header">
                            <img class="img-fluid image_portfolio" src="assets/images/spick_and_span.png" alt="">
                        </div>
                        <div class="card-body">
                            <div class="education_info">
                                <table class="table">
                                    <tr>
                                        <th>Project</th>
                                        <td>Talkmaze</td>
                                    </tr>
                                    <tr>
                                        <th>Company</th>
                                        <td>Deviotech</td>
                                    </tr>

                                    <tr>
                                        <th>Project Type</th>
                                        <td>Online Tutoring</td>
                                    </tr>
                                    <tr>
                                        <th>Status</th>
                                        <td>
                                            Live
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Link</th>
                                        <td>
                                            <a class="padding_td" href="https://talkmaze.com/home" target="_blank">Open Project</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Github</th>
                                        <td>
                                            <a class="padding_td" href="https://languagelad.com/" target="_blank">Open Github</a>
                                        </td>
                                    </tr>



                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 mb-4">
                    <div class="card shadow border-0 mb- bg-light">
                        <div class="card-header portfolio_card_header">
                            <img class="img-fluid image_portfolio" src="assets/images/medfully.png" alt="">
                        </div>
                        <div class="card-body">
                            <div class="education_info">
                                <table class="table">
                                    <tr>
                                        <th>Project</th>
                                        <td>Talkmaze</td>
                                    </tr>
                                    <tr>
                                        <th>Company</th>
                                        <td>Deviotech</td>
                                    </tr>

                                    <tr>
                                        <th>Project Type</th>
                                        <td>Online Tutoring</td>
                                    </tr>
                                    <tr>
                                        <th>Status</th>
                                        <td>
                                            Live
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Link</th>
                                        <td>
                                            <a class="padding_td" href="https://talkmaze.com/home" target="_blank">Open Project</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Github</th>
                                        <td>
                                            <a class="padding_td" href="https://languagelad.com/" target="_blank">Open Github</a>
                                        </td>
                                    </tr>



                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 mb-4">
                    <div class="card shadow border-0 mb- bg-light">
                        <div class="card-header portfolio_card_header">
                            <img class="img-fluid image_portfolio" src="assets/images/dalua.png" alt="">
                        </div>
                        <div class="card-body">
                            <div class="education_info">
                                <table class="table">
                                    <tr>
                                        <th>Project</th>
                                        <td>Talkmaze</td>
                                    </tr>
                                    <tr>
                                        <th>Company</th>
                                        <td>Deviotech</td>
                                    </tr>

                                    <tr>
                                        <th>Project Type</th>
                                        <td>Online Tutoring</td>
                                    </tr>
                                    <tr>
                                        <th>Status</th>
                                        <td>
                                            Live
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Link</th>
                                        <td>
                                            <a class="padding_td" href="https://talkmaze.com/home" target="_blank">Open Project</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Github</th>
                                        <td>
                                            <a class="padding_td" href="https://languagelad.com/" target="_blank">Open Github</a>
                                        </td>
                                    </tr>



                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 mb-4">
                    <div class="card shadow border-0 mb- bg-light">
                        <div class="card-header portfolio_card_header">
                            <img class="img-fluid image_portfolio" src="assets/images/humphrey.png" alt="">
                        </div>
                        <div class="card-body">
                            <div class="education_info">
                                <table class="table">
                                    <tr>
                                        <th>Project</th>
                                        <td>Talkmaze</td>
                                    </tr>
                                    <tr>
                                        <th>Company</th>
                                        <td>Deviotech</td>
                                    </tr>

                                    <tr>
                                        <th>Project Type</th>
                                        <td>Online Tutoring</td>
                                    </tr>
                                    <tr>
                                        <th>Status</th>
                                        <td>
                                            Live
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Link</th>
                                        <td>
                                            <a class="padding_td" href="https://talkmaze.com/home" target="_blank">Open Project</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Github</th>
                                        <td>
                                            <a class="padding_td" href="https://languagelad.com/" target="_blank">Open Github</a>
                                        </td>
                                    </tr>



                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 mb-4">
                    <div class="card shadow border-0 mb- bg-light">
                        <div class="card-header portfolio_card_header">
                            <img class="img-fluid image_portfolio" src="assets/images/hr_portal.png" alt="">
                        </div>
                        <div class="card-body">
                            <div class="education_info">
                                <table class="table">
                                    <tr>
                                        <th>Project</th>
                                        <td>Talkmaze</td>
                                    </tr>
                                    <tr>
                                        <th>Company</th>
                                        <td>Deviotech</td>
                                    </tr>

                                    <tr>
                                        <th>Project Type</th>
                                        <td>Online Tutoring</td>
                                    </tr>
                                    <tr>
                                        <th>Status</th>
                                        <td>
                                            Live
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Link</th>
                                        <td>
                                            <a class="padding_td" href="https://talkmaze.com/home" target="_blank">Open Project</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Github</th>
                                        <td>
                                            <a class="padding_td" href="https://languagelad.com/" target="_blank">Open Github</a>
                                        </td>
                                    </tr>



                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 mb-4">
                    <div class="card shadow border-0 mb- bg-light">
                        <div class="card-header portfolio_card_header">
                            <img class="img-fluid image_portfolio" src="assets/images/mailbox.png" alt="">
                        </div>
                        <div class="card-body">
                            <div class="education_info">
                                <table class="table">
                                    <tr>
                                        <th>Project</th>
                                        <td>Talkmaze</td>
                                    </tr>
                                    <tr>
                                        <th>Company</th>
                                        <td>Deviotech</td>
                                    </tr>

                                    <tr>
                                        <th>Project Type</th>
                                        <td>Online Tutoring</td>
                                    </tr>
                                    <tr>
                                        <th>Status</th>
                                        <td>
                                            Live
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Link</th>
                                        <td>
                                            <a class="padding_td" href="https://talkmaze.com/home" target="_blank">Open Project</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Github</th>
                                        <td>
                                            <a class="padding_td" href="https://languagelad.com/" target="_blank">Open Github</a>
                                        </td>
                                    </tr>



                                </table>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>
