<div class="container my-5">
    <div class="card">
        <div class="card-header card_header_good">
            <h3>Profile</h3>
        </div>
        <div class="card-body p-4 portfolio_parent_card_body">
            <div class="row my-2">
                <div class="col-md-6">
                    <div class="card mb-4 bg-light">
                        <div class="card-body">
                            <div class="personal_image text-center">
                                <img class="rounded-circle" src="assets/images/kashif.jpg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="card mb-4 bg-light">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <b>Objective: </b> To take a challenging role as Laravel Developer with 2+ years of experience in a
                                    highly technical company where I could utilize my skills in Web Development,
                                    Full Stack Web Development, Software, and CMS/e-Commerce and use these
                                    skills in providing quality service to the company.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12 personal_info_tabs">
                            <div class="card mb-2 bg-light">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <b>Name</b>
                                        </div>
                                        <div class="col-md-6">Kashif Ali</div>
                                    </div>
                                </div>
                            </div>
                            <div class="card mb-2 bg-light">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <b>Designation</b>
                                        </div>
                                        <div class="col-md-6">Php / Laravel Developer</div>
                                    </div>
                                </div>
                            </div>
                            <div class="card mb-2 bg-light">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <b>Gender</b>
                                        </div>
                                        <div class="col-md-6">Male</div>
                                    </div>
                                </div>
                            </div>
                            <div class="card mb-2 bg-light">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <b>Date of Birth</b>
                                        </div>
                                        <div class="col-md-6">03-10-1998</div>
                                    </div>
                                </div>
                            </div>
                            <div class="card mb-2 bg-light">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <b>Contact #</b>
                                        </div>
                                        <div class="col-md-6">+923057502419</div>
                                    </div>
                                </div>
                            </div>
                            <div class="card mb-2 bg-light">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <b>Email</b>
                                        </div>
                                        <div class="col-md-6">alikashi54321@gmail.com</div>
                                    </div>
                                </div>
                            </div>
                            <div class="card mb-2 bg-light">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <b>City</b>
                                        </div>
                                        <div class="col-md-6">Multan</div>
                                    </div>
                                </div>
                            </div>
                            <div class="card mb-2 bg-light">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <b>Country</b>
                                        </div>
                                        <div class="col-md-6">Pakistan</div>
                                    </div>
                                </div>
                            </div>
                            <div class="card mb-2 bg-light">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <b>Linked in</b>
                                        </div>
                                        <div class="col-md-6">
                                            <a href="https://www.linkedin.com/in/kashif-ali-39659518a/" target="_blank">Open My Profile</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card mb-2 bg-light">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <b>Facebook</b>
                                        </div>
                                        <div class="col-md-6">
                                            <a href="https://www.facebook.com/kashif.alisadeeque/" target="_blank">Open My Profile</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card bg-light">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <b>Github</b>
                                        </div>
                                        <div class="col-md-6">
                                            <a href="https://github.com/alikashi543211" target="_blank">Open My Profile</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
